@{
    ViewData["Title"] = "Home Page";
}
    
    <html>
    <head>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
        <link href="~/css/loginandregistertheme.css" rel="stylesheet" />
    </head>
    <body>



        <div class="wrapper">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="container" id="firstenter">
                <div>
                    <h1>Blog Project</h1>
                    <form class="form">
                        <input type="text" placeholder="Kullanıcı Adı">
                        <input type="password" placeholder="Sifre">
                        <div style="height:10px"></div>
                        <button type="button" id="login-button">Giris</button>
                        <br />
                        <br />
                        <a href="~/Home/Register" id="registerbutton">Hesabın yok mu ? </a>
                    </form>
                </div>
            </div>

            <div>
                <div id="a1"></div>
                <div id="a2"></div>
                <div id="a3"></div>
            </div>

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/loginandregistertheme.js"></script>
    </body>
    </html>
          