@model IEnumerable<User>
@{
    ViewData["Title"] = "Register Page";
}
<html>
<head>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/loginandregistertheme.css" rel="stylesheet" />
</head>
<body>



    <div class="wrapper">
        <div class="container" id="firstenter">
            <div>
                <h1>Type your Article !</h1>
                <br />
                <form class="form">
                    <div class="row">
                        <div class="col-xl">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px"></div>
                    <br />
                    <button type="button" id="login-button">Share</button>
                </form>
            </div>
        </div>

        <div>
            <div id="a1"></div>
            <div id="a2"></div>
            <div id="a3"></div>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script>
        $("#login-button").click(function (event) {
            event.preventDefault();

            $('form').fadeOut(500);
            $('.wrapper').addClass('form-success');
            $('#a1').addClass('anim1');
            $('#a2').addClass('anim2');
            $('#a3').addClass('anim3');
        });
    </script>
</body>
</html>